.soicalicon-content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top:10px;
  width: 97.4%;
}
.container-gp-button {
  background-color: white;
  border-radius: 5px;
  height:70.5vh;
  padding-top: 10rem;
} 
.social-icons-all{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #184D32;
  font-size:17px;
}
.social-icon-button{
  background-color: white;
  border: none;
  cursor: pointer;
}

.inside-icon{
  color: #184D32;
  margin-top: 50px;
  margin-left: 30px;
}
.select-text{
  display: flex;
  justify-content: center;
  align-items: center;
} 
.selected-color {
  font-size: 17px;
  font-weight:600;
  margin-top: 30px;
  color: #184D32;
}

/*scroll bar*/

/* .soicalicon-head{
  overflow-x: hidden;
  overflow-y: scroll; 
  height: calc(98vh - 200px);
  margin-right:0.5rem;
  margin-top:10px;
}
.soicalicon-head::-webkit-scrollbar {
  width: 14px;
}

.soicalicon-head::-webkit-scrollbar-thumb {
  background-color:#4C835F;
  opacity: 90%; 
  border-radius:2px;
} */


/*Popup content */
.popup-head {
  position: fixed;
  top:55%;
  left:50%;
  background-color: rgba(0, 0, 0, 0.5); 
  background-color: transparent;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it's on top of everything */

}

.background-blur {
  background-image: url('./Asset/blur-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9998; /* Place it beneath the popup */
}
.back-button-content{
 display: flex;
 justify-content: center;
 align-items: center;
}
.back-button-popup{
  padding-top: 30px;
  color: #184D32;
  font-size:17px;
  font-weight: 550;
  cursor: pointer;
}

.span-back{
  border-bottom: 2px solid #184D32;
}



